server {
    listen 80;
    server_name registry.lcf.io;
    client_max_body_size 2G; 
    location / {
        proxy_pass http://nginx:8080;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}

